<!doctype html>
<html lang="en">

	<head>
		<meta charset="utf-8">

		<title>ForwardJS 2015 Angular 2.0 Workshop by Aysegul Yonet</title>

		<meta name="description" content="ForwardJS 2015 Angular 2.0 Workshop">
		<meta name="author" content="Aysegul Yonet">

		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui">

		<link rel="stylesheet" href="css/reveal.css">
		<link rel="stylesheet" href="css/theme/black.css" id="theme">

		<!-- Code syntax highlighting -->
		<link rel="stylesheet" href="lib/css/zenburn.css">

		<!-- Printing and PDF exports -->
		<script>
			var link = document.createElement( 'link' );
			link.rel = 'stylesheet';
			link.type = 'text/css';
			link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
			document.getElementsByTagName( 'head' )[0].appendChild( link );
		</script>

		<!--[if lt IE 9]>
		<script src="lib/js/html5shiv.js"></script>
		<![endif]-->
	</head>

	<body>

		<div class="reveal">

			<!-- Any section element inside of this container is displayed as a slide -->
			<div class="slides">
				<!-- Created By -->
				<section>
					<h1>Introduction to Angular 2.0</h1>
					<p>
						<small>Created by <a href="https://www.linkedin.com/in/aysegulyonet" target="_blank">Aysegul Yonet</a> / <a href="http://twitter.com/AysegulYonet" target="_blank">@AysegulYonet</a></small>
						<br/>
						<a href="bit.ly/ForwardJS-Angular2" target="_blank">Slides: bit.ly/ForwardJS-Angular2</a>
					</p>
				</section>
				<!-- /Created By -->
				<!-- intro -->
				<section>
				    <h3>Introduce yourself</h3>
					<ul>
						<li>Your name</li>
						<li>How familiar are you with Angular 1.x and 2.0</li>
						<li>Do you use Directives with Angular 1.x</li>
					</ul>
					<ul>
						<li><a href="https://git-scm.com/book/en/v2/Getting-Started-Installing-Git" target="_blank">Git</a></li>
						<li>Any text editor like <a href="http://www.sublimetext.com/3" target="_blank">Sublime 3</a>.</li>
						<li><a href="https://nodejs.org/download/" target="_blank">Node</a></li>
						<li>http server: npm install -g http-server</li>
						<!-- Maybe! -->
						<!-- <li><a href="https://github.com/jspm/jspm-cli/wiki/Getting-Started" target="_blank"></a>jspm</li> -->
						<!-- /Maybe! -->
						

					</ul>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				
					</aside>
				</section>
				<section>
				    <h3>Game Plan</h3>
					<ul>
						<li>Go through basic concepts and terminology</li>
						<li>Basic hello world example in ES5 and ES6</li>
						<li>TypeScript</li>
						<li>Build an app.</li>
					</ul>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
					Go through the basics before lunch, build something real afternoon. 
					</aside>
				</section>
				<section>
				    <h3>What's new</h3>
					<ul>
						<li class="fragment">Angular 2 is Alpha</li>
						<li class="fragment">Modern Browsers (IE10/11)</li>
						<li class="fragment">On mobile: Chrome on Android, iOS 6+, Windows Phone 8+ and Firefox mobile</li>
						<li class="fragment">AngularJS 2 is already being written in ES6.</li>
						<li class="fragment">Faster change detection</li>
						<li class="fragment">Modular</li>
						<li class="fragment">Simplified the directive API</li>
					</ul>
					
					<aside class="notes">
					Tracier is used to compile since ES6 is not implemented in browsers yet. No more digest cycle, will use Object.observe in the future. OO is available on Chrome Canary if you Enable Experimental JavaScript flag. You can download as much as you use.
					</aside>
				</section>
				<!-- /intro -->

				<!-- Data Binding -->
				<section>
					<section>
					    <h3>Data Binding</h3>
						<pre><code data-trim contenteditable>
<!-- Interpolation -->
<div>Hello, {{name}}!</div>
						</pre></code>
						<p><a href="" target="_blank"></a></p>
						<aside class="notes">
						
						</aside>
					</section>
					<section>
					    <h3></h3>
					    <img src="images/dataBinding.png" alt="data binding flow">
					
						<aside class="notes">
						Data flows into a component via property bindings, through square brackets. Data flows out of a component via event bindings, through parenthesis.
						Property and event bindings are the public API of a component. You use them when you instantiate a component in your application.
						</aside>
					</section>

					<section>
						<h2></h2>
						
						<pre><code data-trim contenteditable>
<!-- Property Binding -->
<div [hidden]="hideMessage">I am a message</div>
						</code></pre>
						<a href="" target="_blank"></a>
						<aside class="notes">
							
						</aside>
						
					</section>
					<section>
					    <h3></h3>
						<pre><code data-trim>
<!-- Event Binding -->
<button (click)="doStuff()">Do Stuff</button>				
						</pre></code>
						<p><a href="" target="_blank"></a></p>
						<aside class="notes">
						It’s very easy to spot what is binding syntax and what is just a plain old attribute.
						The [] and () bindings are being tied directly into the component/DOM element properties and events. This means any public DOM event or property can be bound to with no additional coding!
					
						</aside>
					</section>
					<section>
					    <h3></h3>
						<pre><code data-trim>
<!-- Show DOM property value -->
<h1>msg.hidden: {{msg.hidden}}</h1>

<!-- Handle DOM onClick event -->
<button (click)="msg.hidden = !msg.hidden">Toggle Message</button>

<!-- Save a reference to the H2 element as 'msg' -->
<h2 #msg>I am a name!</h2>
					
						</pre></code>
						<p><a href="http://plnkr.co/edit/ZTKnLy?p=preview" target="_blank">Plunker</a></p>
						<aside class="notes">
					
						</aside>
					</section>
					<section>
					    <h3></h3>
						<pre><code data-trim>
<input type="text"  #color (keyup) placeholder="Set color"/>
<input type="range" min="10" max="300" value="32" #size (input) placeholder="Set size"/>
<h1 [style.color]="color.value" [style.font-size]="size.value + 'px'">
  Set my color and size!
</h1>
						</pre></code>
						<p><a href="http://embed.plnkr.co/ZbCLxE/preview" target="_blank">Plunker</a></p>
						<aside class="notes">


						</aside>
					</section>
					<section>
					    <h3></h3>
						<pre><code data-trim>
<!-- Bubbling Event Binding -->
<div (^click)="doStuff()">
   <span>Clicks handled by parent</span>
</div>			
						</pre></code>
						<p><a href="" target="_blank"></a></p>
						<aside class="notes">
					
						</aside>
					</section>
					<section>
					    <h3></h3>
						<pre><code data-trim>
<!-- Local Variable -->
<input type="text" #name />
<span>{{name.value}}</span>				
						</pre></code>
						<p><a href="" target="_blank"></a></p>
						<aside class="notes">
						name is just a variable. You can call it ref or anything else. Don't forget the #.
						</aside>
					</section>
					<section>
					    <h3></h3>
						<pre><code data-trim>
<!-- Template Binding (ng-for, ng-if, etc...) -->
<ul>
   <li *ng-for="#c of contacts">{{c.name}}</li>
</ul>			
						</pre></code>
						<p><a href="http://victorsavkin.com/post/119943127151/angular-2-template-syntax" target="_blank">Read more!</a></p>
						<p><a href="https://youtu.be/aHGmj_fqPLE?t=26m10s" target="_blank">Watch!</a></p>
						<aside class="notes">
					
						</aside>
					</section>
				</section>
				<section>
				    <h3>Two way binding</h3>
				    
					<pre><code data-trim>

					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				
					</aside>
				</section>
				<!-- TODO 2 way binding example-->
				<section>
				    <h3></h3>
					<pre><code data-trim>
				
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				
					</aside>
				</section>
				<section>
				    <h3>Recap</h3>
				    <ul>
				    	<li class="fragment">Property and event bindings are the public API of a directive.</li>
				    	<li class="fragment">Data flows into a directive via property bindings.</li>
				    	<li class="fragment">Data flows out of a directive via event bindings.</li>
				    	<li class="fragment">You can use property and event bindings to implement two-way bindings.</li>
				    	<li class="fragment">Angular provides syntax sugar for two-way bindings, interpolation, and passing constants.</li>
				    </ul>

					<aside class="notes">
				
					</aside>
				</section>
				<!-- /Data binding -->
	
				<!-- TODO -->
				<!-- Routing -->
				<!-- /Routing -->

				
				<!-- TODO -->
				<!-- Angular 2 with ES5  -->
				<section>
				    <h3></h3>
					<pre><code data-trim>
// window.angular is available because the script file attaches the angular property to the window
document.addEventListener('DOMContentLoaded', function() {
  angular.bootstrap(AppComponent);
});				
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
					The main difference between the ES5 and TypeScript versions is the loading of modules
					</aside>
				</section>
				<!-- Angular 2 with ES6 -->
				<section>
				    <h3>ES6 module syntax</h3>
					<pre><code data-trim>
// lib.js
export function square(x) {
    return x * x;
}

// main.js
import { square } from 'lib';
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				
					</aside>
				</section>
				<section>
				    <h3>Components</h3>
					<pre><code data-trim>
<todo-list></todo-list>
<time-picker></time-picker>
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
					Components are small reusable pieces of our UI, so that we can create a whole app without repeating our code.
					</aside>
				</section>
				<section>
				    <h3></h3>
					<pre><code data-trim>
@Component({
	selector: 'catstagram'
})
@View({
	templateUrl:'posts.html' 
})
Class Catstagram {
	constructor(){
		this.posts = [];
	}
}
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
					Declare reusable UI building blocks for an application.
					Each Angular component requires a single @Component and at least one @View annotation. The @Component annotation specifies when a component is instantiated, and which properties and hostListeners it binds to.
					When a component is instantiated, Angular:

creates a shadow DOM for the component.
loads the selected template into the shadow DOM.
creates all the injectable objects configured with hostInjector and viewInjector.
					</aside>
				</section>
				<section>
				    <h3></h3>
				    <ul>
				    	<li>selector</li>
				    	<li>properties</li>
				    	<li>events</li>
				    	<li>host</li>
				    	<li>lifecycle</li>
				    	<li>hostInjector</li>
				    	<li>exportAs</li>
				    	<li>compileChildren</li>
				    	<li>viewInjector</li>
				    	<li>changeDetection</li>
				    </ul>
					<pre><code data-trim>
				
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
					When a component is instantiated, Angular creates a change detector, which is responsible for propagating the component's bindings.

					The changeDetection property defines, whether the change detection will be checked every time or only when the component tells it to do so.
					ViewInjector defines the set of injectable objects that are visible to its view dom children.
					</aside>
				</section>
				<section>
				    <h3>Annotations</h3>
					<pre><code data-trim>
@Component({
	selector: 'post-list'
})
@View({
	templateUrl:'post-list.html' 
})
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
					Annotations define how we customize our components.
					Annotations provide the additional information that Angular requires in order to run yourapplication.
					</aside>
				</section>
				<section>
				    <h3>ES 5 Annotations</h3>
					<pre><code data-trim>
//Constructor function
function Catstagram() {...}
//Annotations is a list attached to function
Catstagram.annotations = [
	new Component = ({ selector: 'post-list'})
	new View = ({templateUrl: 'post-list.html'})
]
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				
					</aside>
				</section>

				<!-- Typescript -->
				<section>
				    <h3></h3>
					<pre><code data-trim>
				
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				TypeScript supports ES6 module loading syntax. ES6 modules allow for modular loading of JavaScript code. Using ES6 modules you can cherry-pick only what you need for your app.


					</aside>
				</section>
				<section>
				    <h3>TypeScript definition files</h3>
					<pre><code data-trim>
npm install -g tsd@^0.6.0
tsd install angular2 es6-promise rx rx-lite
					</pre></code>
					<pre><code data-trim>
touch app.ts index.html
					</pre></code>
					<p><a href="https://github.com/Microsoft/TypeScript-Sublime-Plugin" target="_blank">Sublime Package</a></p>
					<aside class="notes">
					Get the type definition files. Create an app.js and index.html files on the same root. Note that you can save any js file with the ts extention and it will work.
					</aside>
				</section>
				<section>
				    <h4>TypeScript compiler</h4>
					<pre><code data-trim>
npm install -g typescript@^1.5.0-beta
tsc --watch -m commonjs -t es5 --emitDecoratorMetadata app.ts
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
					Install the compiler and watch for changes to compile your ts code to JS.
					</aside>
				</section>
				<section>
				   
					<p><a  href="http://www.typescriptlang.org/Playground" target="_blank">TypeScript Playground</a></p>
					<aside class="notes">
					You don't have to use everything in TS. if you put public in front of a variable you don't have to bind it to this. 
					</aside>
				</section>
				<section>
				    <h3>3 basic types in TypeScript</h3>
					<pre><code data-trim>
var isDone: boolean = false;
var lines: number = 42;
var name: string = "Aysegul";
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				
					</aside>
				</section>
				<section>
					<pre><code data-trim>
var notSure: any = 4;
notSure = "maybe a string instead";
notSure = false;			
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				
					</aside>
				</section>
				<section>
				    <h3></h3>
					<pre><code data-trim>
// For collections, there are typed arrays and generic arrays
var list: number[] = [1, 2, 3];
// Alternatively, using the generic array type
var list: Array<number> = [1, 2, 3];
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				
					</aside>
				</section>
				<section>
				    <h3></h3>
					<pre><code data-trim>
// "void" is used in the special case of a function returning nothing
function bigHorribleAlert(): void {
  alert("I'm a little annoying box!");
}		
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				
					</aside>
				</section>
				<section>
				    <h3></h3>
					<pre><code data-trim>
var f1 = function(i: number): number { return i * i; }
// Return type inferred
var f2 = function(i: number) { return i * i; }
var f3 = (i: number): number => { return i * i; }
// Return type inferred
var f4 = (i: number) => { return i * i; }
// Return type inferred, one-liner means no return keyword needed
var f5 = (i: number) =>  i * i;
	
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				Functions are first class citizens, support the lambda "fat arrow" syntax and use type inference.The following are equivalent, the same signature will be infered by the compiler, and same JavaScript will be emitted.
					</aside>
				</section>
				<section>
				    <h3></h3>
					<pre><code data-trim>
interface Person {
  name: string;
  // Optional properties, marked with a "?"
  age?: number;
  // And of course functions
  move(): void;
}
					</pre></code>
					<p><a href="" target="_blank">Angular 2 Docs</a></p>
					<aside class="notes">
					Interfaces are structural, anything that has the properties is compliant with the interface.
					</aside>
				</section>
				<section>
				    <h3>Class</h3>
					<pre><code data-trim>
class Point {
  	// Properties
    x: number;

    // Constructor 
    constructor(x: number, public y: number = 0) {
        this.x = x;
    }

    // Functions
    dist() { return Math.sqrt(this.x * this.x + this.y * this.y); }

    // Static members
    static origin = new Point(0, 0);
}
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
					Constructor - the public/private keywords in this context will generate the boiler plate code for the property and the initialization in the constructor. In this example, "y" will be defined just like "x" is. Default values are also supported.
				
					</aside>
				</section>
				<section>
				    <h3>Inheritance</h3>
					<pre><code data-trim>
class Point3D extends Point {
    constructor(x: number, y: number, public z: number = 0) {
        super(x, y); // Explicit call to the super class constructor is mandatory
    }
    // Overwrite
    dist() {
        var d = super.dist();
        return Math.sqrt(d * d + this.z * this.z);
    }
}
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				
					</aside>
				</section>
				<section>
				    <h3>Modules</h3>
					<pre><code data-trim>
module Geometry {
  export class Square {
    constructor(public sideLength: number = 0) {
    }
    area() {
      return Math.pow(this.sideLength, 2);
    }
  }
}

var s1 = new Geometry.Square(5);

					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				
					</aside>
				</section>
				<section>
				    <h3>Traceur Compiler</h3>
				
					<p><a href="https://github.com/google/traceur-compiler/wiki/LanguageFeatures#language-features" target="_blank">Language Features</a></p>
					<aside class="notes">
				
					</aside>
				</section>
				<!-- /Typescript -->
				<section>
				    <h3>ng-repeat</h3>
					<pre><code data-trim>
<ul>
	<li *ng-for="#cat of cats">
		{{post.title}} - {{post.likes}}
	</li>
</ul>			
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
					# creates a new local variable.
					</aside>
				</section>
				<!-- Scopes -->
				<section>
				    <h3>What happenned to scope?</h3>
					<p>"scope" is bound to the directive.</p>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				Having different kinds of scope, like isolated and non-isolated, can easily lead to issues. So it's best to keep things simple and focus on isolated scopes.
					</aside>
				</section>
				<section>
				    <h3>What you should do in Angular 1.x</h3>
				    <pre><code data-trim>
// Instead of doing this:
app.controller('CatController', function ($scope) {
  $scope.cats = [];
});

// Do this:
app.controller('CatController', function () {
  this.cats = [];
});
				
					</pre></code>
					<pre><code data-trim>
<!-- Then instead of this: -->
<div ng-controller="CatController">
  <input type="text" ng-model="cat" />
</div>

<!-- Do this: -->
<div ng-controller="CatController as catstagram">
  <input type="text" ng-model="catstagram.cat" />
</div>
				
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
					Use this instead of scope and use controller as syntax. 
					Using controller as makes it obvious which controller you are accessing in the template when multiple controllers apply to an element.
					If you are writing your controllers as classes you have easier access to the properties and methods, which will appear on the scope, from inside the controller code.
					Since there is always a . in the bindings, you don't have to worry about prototypal inheritance masking primitives.
					</aside>
				</section>
				<!-- /Scopes -->
				<section>
				    <h3>Including directives</h3>
					<pre><code data-trim>
import {Component, View, bootstrap, NgFor} from 'angular2/angular2';
...
@View({
	template: '<div></div>',
	directives: [NgFor]
})
					</pre></code>
					
					<aside class="notes">
					
					</aside>
				</section>
				<section>
				    <h3>Services</h3>
					<pre><code data-trim>
			
					</pre></code>
					<p><a href="https://github.com/Yonet/tsExample/tree/step-2" target="_blank">Step-2</a></p>
					<aside class="notes">
					Services are just another class. We use appInjector in our component annotation to include it. 
				
					</aside>
				</section>

				<!-- /Angular 2 with ES6 -->

				<!-- Router -->
				<section>
				    <h3>Router</h3>
					<pre><code data-trim>
router.config([
  { 'path': '/', 'component': IndexComp },
  { 'path': '/user/:id', 'component': UserComp },
]);
					</pre></code>
					<p><a href="" target="_blank"></a></p>
					<aside class="notes">
				
					</aside>
				</section>
				<!-- /Router -->
				
				<!-- TODO -->
				<!-- Observables -->
				<!-- /Observables -->







				<!-- The End -->
				<section style="text-align: left;">
					<h1>THE END</h1>
					<p>
						- <a href="bit.ly/ForwardJS-Angular2" target="_blank">Slides</a><br>
						- <a href="http://twitter.com/AysegulYonet" target="_blank">@AysegulYonet</a>
					</p>
				</section>
				<!-- /The End -->


					<!-- <section id="fragments">
						<h2>Fragments</h2>
						<p>Hit the next arrow...</p>
						<p class="fragment">... to step through ...</p>
						<p><span class="fragment">... a</span> <span class="fragment">fragmented</span> <span class="fragment">slide.</span></p>

						<aside class="notes">
							This slide has fragments which are also stepped through in the notes window.
						</aside>
					</section> -->
					<!-- <section>
						<h2>Fragment Styles</h2>
						<p>There's different types of fragments, like:</p>
						<p class="fragment grow">grow</p>
						<p class="fragment shrink">shrink</p>
						<p class="fragment fade-out">fade-out</p>
						<p class="fragment current-visible">current-visible</p>
						<p class="fragment highlight-red">highlight-red</p>
						<p class="fragment highlight-blue">highlight-blue</p>
					</section> -->

				<!-- <section id="transitions">
					<h2>Transition Styles</h2>
					<p>
						You can select from different transitions, like: <br>
						<a href="?transition=none#/transitions">None</a> -
						<a href="?transition=fade#/transitions">Fade</a> -
						<a href="?transition=slide#/transitions">Slide</a> -
						<a href="?transition=convex#/transitions">Convex</a> -
						<a href="?transition=concave#/transitions">Concave</a> -
						<a href="?transition=zoom#/transitions">Zoom</a>
					</p>
				</section> -->

				

				<!-- <section>
					<section data-background="#dddddd">
						<h2>Slide Backgrounds</h2>
						<p>
							Set <code>data-background="#dddddd"</code> on a slide to change the background color. All CSS color formats are supported.
						</p>
						<a href="#" class="navigate-down">
							<img width="178" height="238" data-src="https://s3.amazonaws.com/hakim-static/reveal-js/arrow.png" alt="Down arrow">
						</a>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png">
						<h2>Image Backgrounds</h2>
						<pre><code>&lt;section data-background="image.png"&gt;</code></pre>
					</section>
					<section data-background="https://s3.amazonaws.com/hakim-static/reveal-js/image-placeholder.png" data-background-repeat="repeat" data-background-size="100px">
						<h2>Tiled Backgrounds</h2>
						<pre><code style="word-wrap: break-word;">&lt;section data-background="image.png" data-background-repeat="repeat" data-background-size="100px"&gt;</code></pre>
					</section>
					<section data-background-video="https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.mp4,https://s3.amazonaws.com/static.slid.es/site/homepage/v1/homepage-video-editor.webm" data-background-color="#000000">
						<div style="background-color: rgba(0, 0, 0, 0.9); color: #fff; padding: 20px;">
							<h2>Video Backgrounds</h2>
							<pre><code style="word-wrap: break-word;">&lt;section data-background-video="video.mp4,video.webm"&gt;</code></pre>
						</div>
					</section>
					<section data-background="http://i.giphy.com/90F8aUepslB84.gif">
						<h2>... and GIFs!</h2>
					</section>
				</section> -->


				

			</div>

		</div>

		<script src="lib/js/head.min.js"></script>
		<script src="js/reveal.js"></script>

		<script>

			// Full list of configuration options available at:
			// https://github.com/hakimel/reveal.js#configuration
			Reveal.initialize({
				controls: true,
				progress: true,
				history: true,
				center: true,

				transition: 'slide', // none/fade/slide/convex/concave/zoom

				// Optional reveal.js plugins
				dependencies: [
					{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
					{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
					{ src: 'plugin/highlight/highlight.js', async: true, condition: function() { return !!document.querySelector( 'pre code' ); }, callback: function() { hljs.initHighlightingOnLoad(); } },
					{ src: 'plugin/zoom-js/zoom.js', async: true },
					{ src: 'plugin/notes/notes.js', async: true }
				]
			});

		</script>

	</body>
</html>
